*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #934;
}

body{
}

#count{
    display: flex;
    background-color: rgb(15, 15, 151);
    width: 150px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rgb(39, 39, 39);
    color: rgb(250, 255, 183);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;

    align-items: center;
    justify-content: center;
    margin: 50% auto;
}